@page  "/HazardHunts/"
@attribute [Authorize(Roles = "admin")]

@inject IRepository Repository
<h1>Administer Hazard Hunt for Two Weeks Ready</h1>

@if (_HazardHunts != null && _HazardHunts.Any())
{

    <table>
        <thead>
            <tr>
                <th>Name</th>               
            </tr>
        </thead>
        <tbody>
            @foreach (var hazard in _HazardHunts)
            {

                <tr>
                    <td>
                        <a href="/HazardHunts/@hazard.Id">
                           @hazard.Name
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

}
else
{
    <p>No Hazards defined.</p>
    <a class="btn btn-primary" href="/HazardHunts/new">Add New Hazard</a>
}

@code {
    private IEnumerable<HazardHunt> _HazardHunts { get; set; }

    protected override async Task OnInitializedAsync()
    {

        try {
            _HazardHunts = await Repository.GetAllHazardHunts();
        } catch (NotImplementedException) {
            // Application is still growing, let's not throw an error yet
            _HazardHunts = Enumerable.Empty<HazardHunt>();
        }

    }

}
