.login-form {
    position: relative;
    padding: 5% 3%;
}

.login-form::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.login-form .row {
    padding: 2% 1%;
}


/*----------------------------------------
    Login Page
------------------------------------------*/

.login-container {
    z-index: 999;
    padding: 10% 5%;
    width: 100vw;
    overflow: hidden;
}

.login-form {
    width: 100%;
}

.login-form-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
}

.profile-image-login {
    width: 100px;
    height: 100px !important;
}

.login-text {
    margin-top: -6px;
    margin-left: -6px !important;
}

.auth-providers {
    width: 100%;
}

.auth-providers .btn-floating.btn-large,
.auth-providers .btn-floating.btn-large i {
    font-size: 1.2rem;
    line-height: 43px;
    width: 42px;
    height: 42px;
}



.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%;
}

@media only screen and (min-width: 480px) {
    .login-form {
        width: 480px;
    }
}

@media only screen and (min-width: 720px) {

    .auth-providers .btn-floating.btn-large,
    .auth-providers .btn-floating.btn-large i {
        font-size: 1.6rem;
        line-height: 55.5px;
        width: 55px;
        height: 55px;
    }

}

@media(min-width: 982px) {

    .login-container {
        width: 60vw;
    }

}

@media(min-width: 1024px) {

    .login-container {
        width: 600px;
    }

}