:root {
    --site-primary-darkest: #250000;
    --site-primary-darker: #490000;
    --site-primary-dark: #6E0000;
    --site-primary: #D51B31;
    --site-primary-light: #A24D4D;
    --site-primary-lighter: #CA9999;
    --site-primary-lightest: #F2E6E6;
    --site-white-darkest: #4C4C4C;
    --site-white-darker: #989898;
    --site-white-dark: #E5E5E5;
    --site-white: #D4D7E2;
    --site-white-light: #efefef;
    --site-white-lighter: #fff;
    --site-white-lightest: #fff;
    --site-black: #3C3C42;
    --site-dark-darkest: #000;
    --site-dark-darker: #363636;
    --site-dark-dark: #696969;
    --site-dark: #B3B6CB;
    --site-dark-2: #7A7C8C;
    --site-dark-light: #bdbdbd;
    --site-dark-lighter: #dedede;
    --site-dark-lightest: #dfdfdf;
    --site-blue: #0F2094;
    --site-red: #DC0002;
    --site-dark-gray: #B3B6CB;
    --site-gray: #F4F5F9;
    --site-alert: #EF6361;
    --site-green: #49CD8D;
    --site-yellow: yellow;
    --site-orange: #F78A0E;
    --common-margin: 16px;
    --common-sm-margin: 5px;
    --font-size-16: 1em;
    --font-size-20: 1.5em;
    --radius-16: 16px;
    --radius-8: 8px;
    --site-pink: #EF6361;

    --common-margin: 16px;

    --sidebar-width: 260px;
    --sidebar-negative-width: -260px;

}

html,
body {
    width: 100%;
    min-height: 100%;
}

body {
    width: 100%;
    margin: 0;
    background-color: var(--site-white-lightest);
    font-family: 'Montserrat', 'Muli',
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    display: block;
    font-size: 12pt;
    font-weight: 400;
}

.main-content {
    min-height: calc(100vh - 80px);
    padding: 2em;
}


.bg-primary-darker {
    background-color: var(--site-primary);
}

.bg-black {
    background-color: var(--site-black);
}

.text-white {
    color: var(--site-white);
}

.logo {
    background-color: var(--site-white-lightest);
    text-align: center;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1001;
}

.nav-toggle-label .navbar-toggler-bar,
.nav-toggle-label .navbar-toggler-bar::before,
.nav-toggle-label .navbar-toggler-bar::after {
    display: block;
    background-color: var(--site-dark-darkest);
    height: 2px;
    width: 2em;
    flex: 1 0 auto;
    border-radius: 2px;
    position: relative;
    z-index: 20001;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.navbar {
    padding-top: .625rem;
    padding-bottom: .625rem;
    min-height: 53px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
}

.navbar.navbar-dark {
    box-shadow: none;
    color: var(--site-white);
}

.navbar.navbar-transparent {
    background-color: transparent !important;
    box-shadow: none;
    color: var(--site-dark);
}

.navbar.navbar-absolute {
    position: absolute;
    width: 100%;
    padding-top: 10px;
    z-index: 1029;
}

.navbar-dark .nav-toggle-label .navbar-toggler-bar,
.navbar-dark .nav-toggle-label .navbar-toggler-bar::before,
.navbar-dark .nav-toggle-label .navbar-toggler-bar::after,
.bg-transparent .nav-toggle-label .navbar-toggler-bar,
.bg-transparent .nav-toggle-label .navbar-toggler-bar::before,
.bg-transparent .nav-toggle-label .navbar-toggler-bar::after {
    background-color: var(--site-olive);
}


.nav-toggle-label .navbar-toggler-bar::before,
.nav-toggle-label .navbar-toggler-bar::after {
    content: '';
    position: absolute;
}

.nav-toggle-label .navbar-toggler-bar::before {
    bottom: 7px;
}

.nav-toggle-label .navbar-toggler-bar::after {
    top: 7px;
}

.nav-open .nav-toggle-label .navbar-toggler-bar {
    background-color: transparent;
}

.nav-open .nav-toggle-label .navbar-toggler-bar::before {
    transform: rotate(45deg);
    bottom: 0;
}

.nav-open .nav-toggle-label .navbar-toggler-bar::after {
    transform: rotate(-45deg);
    top: 0;
}

.navbar .navbar-toggler .navbar-toggler-bar.navbar-kebab {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin: 0 auto;
}

/* .navbar .navbar-wrapper .navbar-toggle:hover .navbar-toggler-bar.bar2 {
    width: 22px;
} */

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    transform: scale(1, 1);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.navbar-dark nav {
    background-color: var(--site-dark-darker) !important;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    width: 100%;
    display: block;
    margin: 2% 1%;
}

nav .show a {
    opacity: 1;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


/* .main-header nav {
    background-color: #f7f7f7;
} */

.main-header.bg-transparent nav {
    background-color: var(--site-dark-darkest);
}


.main-header nav a {
    color: var(--site-dark-darkest);
}

.main-header nav a:hover {
    color: var(--site-dark-darkest);
}

.main-header.bg-transparent nav a,
.main-header.navbar-dark nav a {
    color: #ddd;
}

.main-header.bg-transparent nav a:hover,
.main-header.navbar-dark nav a:hover {
    color: #ccc;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/*  Sidebar */

.animation-transition-general,
.nav-pills .nav-link,
.nav-tabs .nav-link,
.navbar,
.navbar-collapse .navbar-nav .nav-link,
.off-canvas-sidebar .logo a.logo-mini,
.off-canvas-sidebar .logo a.logo-normal,
.off-canvas-sidebar .navbar-minimize,
.off-canvas-sidebar .nav p,
.off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a span,
.off-canvas-sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a span,
.sidebar .logo a.logo-mini,
.sidebar .logo a.logo-normal,
.sidebar .nav a,
.sidebar .nav a i,
.sidebar .navbar-minimize,
.sidebar .nav p,
.sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a span,
.sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a span,
    {
    transition: all .3s ease 0s
}

.off-canvas-sidebar,
.sidebar {
    z-index: 1030
}


.off-canvas-sidebar .nav li.active>a,
.sidebar .nav li.active>a {
    background-color: var(--site-white);
    box-shadow: 0 1px 15px 1px rgba(39, 39, 39, .1)
}

.main-panel,
.sidebar .sidebar-wrapper {
    overflow: auto
}

.wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

/* .main-panel,
.sidebar {
    height: 100%;
    max-height: 100
} */

.off-canvas-sidebar,
.sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: var(--sidebar-width);
    left: 0;
    z-index: 1031
}

.off-canvas-sidebar .sidebar-wrapper,
.sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 200px);
    overflow: auto;
    width: var(--sidebar-width);
    z-index: 4;
}

.off-canvas-sidebar .sidebar-wrapper .dropdown .dropdown-backdrop,
.sidebar .sidebar-wrapper .dropdown .dropdown-backdrop {
    display: none !important
}

.off-canvas-sidebar .sidebar-wrapper .navbar-form,
.sidebar .sidebar-wrapper .navbar-form {
    border: none
}

.off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a span,
.off-canvas-sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a span,
.sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a span,
.sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a span {
    display: inline-block
}

.off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a i,
.off-canvas-sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a i,
.sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a i,
.sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a i {
    font-size: 17px;
    line-height: 20px;
    width: 26px
}

.sidebar-wrapper .nav-link {
    font-weight: 600;
}

.off-canvas-sidebar .navbar-minimize,
.sidebar .navbar-minimize {
    position: absolute;
    right: 20px;
    top: 2px;
    opacity: 1
}

.off-canvas-sidebar .nav,
.sidebar .nav {
    margin-top: 20px;
    display: block
}

.off-canvas-sidebar .nav .caret,
.sidebar .nav .caret {
    top: 14px;
    position: absolute;
    right: 10px
}

.off-canvas-sidebar .nav li>a+div .nav li>a,
.sidebar .nav li>a+div .nav li>a {
    margin-top: 7px
}

.off-canvas-sidebar .nav li>a,
.off-canvas-sidebar .nav li>a:not([href]):not([tabindex]):focus,
.off-canvas-sidebar .nav li>a:not([href]):not([tabindex]):hover,
.sidebar .nav li>a,
.sidebar .nav li>.nav-link,
.sidebar .nav li>a:not([href]):not([tabindex]):focus,
.sidebar .nav li>a:not([href]):not([tabindex]):hover {
    margin: 10px 15px 0;
    color: var(--site-white-lightest);
    display: block;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 8px;
    line-height: 1.625rem
}

.off-canvas-sidebar .nav li:first-child>a,
.sidebar .nav li:first-child>a {
    margin: 0 15px
}

.off-canvas-sidebar .nav li:focus:not(.active)>a,
.off-canvas-sidebar .nav li:hover:not(.active)>a,
.sidebar .nav li:focus:not(.active)>a,
.sidebar .nav li:hover:not(.active)>a {
    background-color: hsla(0, 0%, 100%, .1)
}

.off-canvas-sidebar .nav li:focus:not(.active)>a i,
.off-canvas-sidebar .nav li:hover:not(.active)>a i,
.sidebar .nav li:focus:not(.active)>a i,
.sidebar .nav li:hover:not(.active)>a i {
    color: var(--site-white)
}

.off-canvas-sidebar .nav li.active>a:not([data-toggle=collapse]),
.sidebar .nav li.active>a:not([data-toggle=collapse]) {
    background-color: var(--site-white);
    box-shadow: 0 1px 15px 1px rgba(39, 39, 39, .1)
}

.off-canvas-sidebar .nav li.active>a[data-toggle=collapse],
.sidebar .nav li.active>a[data-toggle=collapse] {
    background-color: hsla(0, 0%, 100%, .1);
    box-shadow: none;
    color: var(--site-white)
}

.off-canvas-sidebar .nav li.active>a[data-toggle=collapse] i,
.sidebar .nav li.active>a[data-toggle=collapse] i {
    color: var(--site-white)
}

.off-canvas-sidebar .nav li.active>a[data-toggle=collapse]+div .nav .active a:after,
.sidebar .nav li.active>a[data-toggle=collapse]+div .nav .active a:after {
    content: "";
    position: absolute;
    background-color: var(--site-white);
    border-radius: 30px;
    box-shadow: 0 1px 15px 1px rgba(39, 39, 39, .1);
    color: #f96332;
    height: 44px;
    width: calc(100% - 5px);
    top: 0;
    left: 2px;
    z-index: 0
}

.off-canvas-sidebar .nav p,
.sidebar .nav p {
    margin: 0;
    line-height: 30px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
    transition: transform .3s ease 0s, opacity .3s ease 0s;
}

.off-canvas-sidebar .nav i,
.sidebar .nav i {
    font-size: 20px;
    float: left;
    margin-right: 12px;
    line-height: 30px;
    width: 34px;
    text-align: center;
    color: hsla(0, 0%, 100%, .5);
    position: relative
}

.off-canvas-sidebar .sidebar-background,
.sidebar .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50%
}

.off-canvas-sidebar .sidebar-background:after,
.sidebar .sidebar-background:after {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background: var(--site-white);
    opacity: 1
}

.off-canvas-sidebar .logo,
.sidebar .logo {
    position: relative;
    padding: .5rem .7rem;
    z-index: 4
}

.off-canvas-sidebar .logo a.logo-mini,
.sidebar .logo a.logo-mini {
    opacity: 1;
    float: left;
    width: 34px;
    text-align: center;
    margin-left: 10px;
    margin-right: 12px
}

.off-canvas-sidebar .logo a.logo-normal,
.sidebar .logo a.logo-normal {
    display: block;
    opacity: 1;
    transform: translateZ(0);
}

.off-canvas-sidebar .logo:after,
.sidebar .logo:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: hsla(0, 0%, 100%, .5)
}

.off-canvas-sidebar .logo p,
.sidebar .logo p {
    float: left;
    font-size: 20px;
    margin: 10px;
    color: var(--site-white);
    line-height: 20px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.off-canvas-sidebar .logo .simple-text,
.sidebar .logo .simple-text {
    text-transform: uppercase;
    padding: .5rem 0;
    display: block;
    white-space: nowrap;
    font-size: 1em;
    color: var(--site-white);
    text-decoration: none;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden
}

.off-canvas-sidebar .logo-tim,
.sidebar .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden
}

.off-canvas-sidebar .logo-tim img,
.sidebar .logo-tim img {
    width: 60px;
    height: 60px
}

.off-canvas-sidebar:after,
.off-canvas-sidebar:before,
.sidebar:after,
.sidebar:before {
    display: block;
    content: "";
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.off-canvas-sidebar:after,
.sidebar:after {
    background-color: var(--site-purple);
    z-index: 3
}

.off-canvas-sidebar[data-color=blue]:after,
.sidebar[data-color=blue]:after {
    background: #2ca8ff
}

.off-canvas-sidebar[data-color=blue] .nav li.active>a,
.off-canvas-sidebar[data-color=blue] .nav li.active>a i,
.sidebar[data-color=blue] .nav li.active>a,
.sidebar[data-color=blue] .nav li.active>a i {
    color: #2ca8ff
}

.off-canvas-sidebar[data-color=green]:after,
.sidebar[data-color=green]:after {
    background: #18ce0f
}

.off-canvas-sidebar[data-color=green] .nav li.active>a,
.off-canvas-sidebar[data-color=green] .nav li.active>a i,
.sidebar[data-color=green] .nav li.active>a,
.sidebar[data-color=green] .nav li.active>a i {
    color: #18ce0f
}

.off-canvas-sidebar[data-color=orange]:after,
.sidebar[data-color=orange]:after {
    background: #f96332
}

.off-canvas-sidebar[data-color=orange] .nav li.active>a,
.off-canvas-sidebar[data-color=orange] .nav li.active>a i,
.sidebar[data-color=orange] .nav li.active>a,
.sidebar[data-color=orange] .nav li.active>a i {
    color: #f96332
}

.off-canvas-sidebar[data-color=red]:after,
.sidebar[data-color=red]:after {
    background: #ff3636
}

.off-canvas-sidebar[data-color=red] .nav li.active>a,
.off-canvas-sidebar[data-color=red] .nav li.active>a i,
.sidebar[data-color=red] .nav li.active>a,
.sidebar[data-color=red] .nav li.active>a i {
    color: #ff3636
}

.off-canvas-sidebar[data-color=yellow]:after,
.sidebar[data-color=yellow]:after {
    background: #ffb236
}

.off-canvas-sidebar[data-color=yellow] .nav li.active>a,
.off-canvas-sidebar[data-color=yellow] .nav li.active>a i,
.sidebar[data-color=yellow] .nav li.active>a,
.sidebar[data-color=yellow] .nav li.active>a i {
    color: #ffb236
}

/* Login Button */
.signout-row {
    position: fixed;
    bottom: 3%;
    display: block;
    z-index: 9999;
}

.btn-logout {
    background-color: transparent;
    color: var(--site-white-lightest);
    font-weight: 600;
    border: none;
}

/* end sidebar */

.footer-copyright {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 3em;
    min-width: calc(100% + 32px);
}

.data-list .card {
    min-height: 100px;
}

.data-list .card .badge {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6px;
    right: 36px;
    border-radius: 50%;
    min-width: 2em;
    height: 1.75em;
    font-size: .75em;
    line-height: 1.2em;
    z-index: 999;
}

.gvtc-record-row,
a.gvtc-record-row {
    text-decoration: none;
    color: var(--site-dark-darkest);
    border-bottom: 1px solid var(--site-dark-darkest);
}

.md-form input:focus+label,
.md-form textarea:focus+label,
.md-form input:not([value=''])+label,
.md-form textarea:not([value=''])+label {
    transform: translateY(-14px) scale(.8);
}

.md-form input[type=date]:focus:not([readonly]),
.md-form input[type=datetime-local]:focus:not([readonly]),
.md-form input[type=email]:focus:not([readonly]),
.md-form input[type=number]:focus:not([readonly]),
.md-form input[type=password]:focus:not([readonly]),
.md-form input[type=search-md]:focus:not([readonly]),
.md-form input[type=search]:focus:not([readonly]),
.md-form input[type=tel]:focus:not([readonly]),
.md-form input[type=text]:focus:not([readonly]),
.md-form input[type=time]:focus:not([readonly]),
.md-form input[type=url]:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
    -webkit-box-shadow: 0 1px 0 0 var(--site-purple);
    box-shadow: 0 1px 0 0 var(--site-purple);
    border-bottom: 1px solid var(--site-purple);
}

.md-form input[type=date]:focus:not([readonly])+label,
.md-form input[type=datetime-local]:focus:not([readonly])+label,
.md-form input[type=email]:focus:not([readonly])+label,
.md-form input[type=number]:focus:not([readonly])+label,
.md-form input[type=password]:focus:not([readonly])+label,
.md-form input[type=search-md]:focus:not([readonly])+label,
.md-form input[type=search]:focus:not([readonly])+label,
.md-form input[type=tel]:focus:not([readonly])+label,
.md-form input[type=text]:focus:not([readonly])+label,
.md-form input[type=time]:focus:not([readonly])+label,
.md-form input[type=url]:focus:not([readonly])+label,
.md-form textarea.md-textarea:focus:not([readonly])+label {
    color: var(--site-purple);
}

a .row-title {
    font-size: 2em;
    color: var(--site-dark-darker);
}

@media screen and (max-width:991px) {

    .wrapper {
        transition: all .5s cubic-bezier(.685, .0473, .346, 1);
    }

    .main-panel {
        width: 100%
    }

    .sidebar {
        box-shadow: none;
    }

    .bootstrap-navbar,
    .sidebar {
        position: fixed;
        display: block;
        top: 0;
        height: 100%;
        width: var(--sidebar-width);
        right: auto;
        left: 0;
        z-index: 1032;
        visibility: visible;
        overflow-y: visible;
        padding: 0;
        transition: all .5s cubic-bezier(.685, .0473, .346, 1);
        transform: translate3d(var(--sidebar-negative-width), 0, 0)
    }

    .nav-open .main-panel,
    .nav-open .page-footer {
        right: 0;
        transform: translate3d(var(--sidebar-width), 0, 0)
    }

    .nav-open .sidebar {
        transform: translateZ(0);
        box-shadow: 0 2px 22px 0 rgba(0, 0, 0, .2), 0 2px 30px 0 rgba(0, 0, 0, .35)
    }

    .nav-open body {
        position: relative;
        overflow-x: hidden
    }

    .navbar-toggler-bar {
        display: block;
        position: relative;
        width: 22px;
        height: 1px;
        border-radius: 1px;
        background-color: var(--site-dark);
    }

    /* .toggled .bar1 {
        top: 6px;
        animation: topbar-x .5s 0s;
        animation-fill-mode: forwards;
    }

    .navbar .toggled .navbar-toggler-bar+.navbar-toggler-bar {
        margin-top: 5px;
    } */

    .navbar.bg-white:not(.navbar-transparent) .navbar-toggler-bar {
        background-color: #888;
    }

}

/* font awesome classes */

.fa,
.fas,
.far,
.fal,
.fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-lg {
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -.0667em;
}

.fa-xs {
    font-size: .75em;
}

.fa-sm {
    font-size: .875em;
}

.fa-1x {
    font-size: 1em;
}

.fa-2x {
    font-size: 2em;
}

.fa-3x {
    font-size: 3em;
}

.fa-4x {
    font-size: 4em;
}

.fa-5x {
    font-size: 5em;
}

.fa-6x {
    font-size: 6em;
}

.fa-7x {
    font-size: 7em;
}

.fa-8x {
    font-size: 8em;
}

.fa-9x {
    font-size: 9em;
}

.fa-10x {
    font-size: 10em;
}

.fa-fw {
    text-align: center;
    width: 1.25em;
}

.fa-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0;
}

.fa-ul>li {
    position: relative;
}

.fa-li {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit;
}

.fa-border {
    border: solid 0.08em #eee;
    border-radius: .1em;
    padding: .2em .25em .15em;
}

.fa-pull-left {
    float: left;
}

.fa-pull-right {
    float: right;
}

.fa.fa-pull-left,
.fas.fa-pull-left,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
    margin-right: .3em;
}

.fa.fa-pull-right,
.fas.fa-pull-right,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
    margin-left: .3em;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.fa-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.fa-rotate-180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fa-rotate-270 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.fa-flip-horizontal {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.fa-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1);
}

.fa-flip-both,
.fa-flip-horizontal.fa-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-flip-both {
    -webkit-filter: none;
    filter: none;
}

.fa-stack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2.5em;
}

.fa-stack-1x,
.fa-stack-2x {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.fa-stack-1x {
    line-height: inherit;
}

.fa-stack-2x {
    font-size: 2em;
}

.fa-inverse {
    color: #fff;
}

/* end font awesome classes */

@media (min-width: 992px) {

    .main-content {
        /* margin-top: 100px; */
    }

    .main-panel,
    .sidebar,
    .sidebar-wrapper,
    .page-footer {
        transition-property: top, bottom, width;
        transition-duration: .2s, .2s, .35s;
        transition-timing-function: linear, linear, ease;
        -webkit-overflow-scrolling: touch;
    }

    .sidebar {
        display: block;
        box-shadow: 0 2px 22px 0 rgba(0, 0, 0, .2), 0 2px 30px 0 rgba(0, 0, 0, .35)
    }

    .main-content,
    .page-footer {
        margin-left: var(--sidebar-width);
    }

    .data-list .card h2,
    .data-list .card .h2 {
        font-size: 1.5rem;
    }

}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape) {

    .bootstrap-navbar,
    .sidebar {
        position: fixed;
        display: block;
        top: 0;
        height: 100%;
        width: var(--sidebar-width);
        right: auto;
        left: 0;
        z-index: 1032;
        visibility: visible;
        overflow-y: visible;
        padding: 0;
        transition: all .5s cubic-bezier(.685, .0473, .346, 1);
        transform: translate3d(var(--sidebar-negative-width), 0, 0);
    }

    .main-panel {
        width: 100%;
    }

    .nav-open .main-panel {
        right: 0;
        transform: translate3d(var(--sidebar-width), 0, 0);
    }

    .nav-open .sidebar {
        transform: translateZ(0)
    }

    .nav-open body {
        position: relative;
        overflow-x: hidden;
    }

    .nav-open .menu-on-right .main-panel,
    .nav-open .menu-on-right .page-footer {
        transform: translate3d(var(--sidebar-negative-width), 0, 0)
    }

    .nav-open .menu-on-right .navbar-collapse,
    .nav-open .menu-on-right .sidebar {
        transform: translateZ(0)
    }

    .nav-open .menu-on-right .navbar-translate {
        transform: translate3d(-300px, 0, 0)
    }

    .nav-open .menu-on-right #bodyClick {
        right: var(--sidebar-width);
        left: auto;
    }

    .sidebar {
        box-shadow: none;
    }

    .nav-open .sidebar {
        box-shadow: 0 2px 22px 0 rgba(0, 0, 0, .2), 0 2px 30px 0 rgba(0, 0, 0, .35)
    }

    .sidebar {
        box-shadow: none;
    }

    .nav-open .sidebar {
        box-shadow: 0 2px 22px 0 rgba(0, 0, 0, .2), 0 2px 30px 0 rgba(0, 0, 0, .35)
    }

    .main-panel,
    .sidebar,
    .sidebar-wrapper {
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(.685, .0473, .346, 1);
    }

}