<div class="d-flex flex-wrap">
    <h2 class="col-12 text-center">{{family_name}}</h2>
</div>
<div class="d-flex flex-wrap">
    {{#members}}
    <div class="d-flex col-12 p-1 m-1">
        <a href="family/member/?id={{assetId}}" class="col-12 d-flex flex-wrap flex-row">
            <div class="col-5 p-2 text-center">
                <img class="rounded-circle" src="{{{avatar}}}" alt="{{first_name}} {{last_name}}">
            </div>
            <div class="col-6 p-1 m-1 d-flex align-items-center row-title">{{first_name}} {{last_name}}</div>
        </a>
    </div>
    {{/members}}
</div>