@page "/HazardInfos/{id}"
@attribute [Authorize(Roles = "admin")]

@inject IRepository repository
@inject IJSRuntime JS

@if (Hazard == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>Details</h3>
    <label for="name">Hazard Name:</label>
    <input type="text" @bind="@Hazard.Name" />
    <br />
    <label for="description">Short Description:</label>
    <input type="text" @bind="@Hazard.Description" />
    <span class="btn btn-secondary float-right" style="cursor: pointer" @onclick="@Save">Save</span>

}

@code {

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public EventCallback OnSave { get; set; }

    private HazardInfo Hazard { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Hazard = await repository.GetHazardInfoById(Id);
    }


    public async Task Save()
    {
        await repository.SaveHazardInfo(Hazard);
        await OnSave.InvokeAsync(Hazard);

        await JS.InvokeVoidAsync("alert", new object[] { "Hazard Info Saved" });

    }
}
