@page  "/HazardInfos/"
@attribute [Authorize(Roles = "admin")]
@inject IRepository Repository
<h1>Administer Hazard Info</h1>

@if (_HazardInfos != null && _HazardInfos.Any())
{

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hazard in _HazardInfos)
            {

                <tr>
                    <td>
                        <a href="/HazardInfos/@hazard.Id">
                            @hazard.Name
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <a class="btn btn-primary" href="/HazardInfos/new">Add New Hazard</a>

}
else if (_HazardInfos == null)
{
    <p>Loading....</p>
}
else
{
    <p>No hazard infos defined</p>
}

@code {
    private IEnumerable<HazardInfo> _HazardInfos { get; set; }

    protected override async Task OnInitializedAsync()
    {

        _HazardInfos = await Repository.GetAllHazardInfos();

    }

}
