.pseudo-text-block-label {
  margin-left: .5rem;
  position: absolute;
  background-color: #fff;
  margin-top: -9px;
  padding: 1px;
}

.hidden {
  display: none;
}
.img-cover {
  object-fit: cover;
}