@inject IRepository repository

<div class="card">
    <div class="card-body">
        Name: <input type="text" @bind="@Item.Name" /><br />
        Description: <input type="text" @bind="@Item.Description" /><br />
        Quantity Per Person: <input type="text" @bind="@Item.QuantityPerCount" /><br />
        Quantity Unit (lbs, oz): <input type="text" @bind="@Item.QuantityUnit" /><br />
    </div>
</div>

@code {
    [Parameter]
    public BaseKitItem Item { get; set; }
}
